<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 mt-3 mb-3 ">
<div class="user-box">
  <a class="user-links fs-3 me-3" routerLink="/register"  routerLinkActive="active">Register</a>
  <a class="user-links fs-3 me-3" routerLink="/login" routerLinkActive="active">Login</a>
      <form class="m-5" [formGroup]="loginUserForm" (ngSubmit)="loginUser(loginUserForm)" >
        <label>Email</label>
        <em  class="float-end" *ngIf="email?.errors?.required && email?.touched">Required</em>
        <div>
          <input formControlName="email" class="form-control mt-1 shadow-none rounded-0" />
        </div>
        <label>Password</label>
        <em class="float-end" *ngIf="password?.errors?.required && password?.touched">Required</em>
        <input formControlName="password" class="form-control mt-1 shadow-none rounded-0" />
        <button class="mt-2 form-btn" [disabled]="canSubmitLoginForm(loginUserForm)" type="submit">Login</button>
      </form>
    </div>
</div>
    <div class="col-2"></div>
  </div>
</div>

