.user-box {
  border: 1px solid #212529;
}

.user-links {
  float: right;
  border: none;
  text-decoration: none;
  color: #212529;
}

.user-links:hover {
  border-bottom: 2px solid #04AA6D;


}

.active {
  border-bottom: 2px solid #04AA6D;
}
