<form [formGroup]="boardForm" (ngSubmit)="addNewBoard(boardForm.value, userService.userToken)">
  <label for="board-title">Board Title</label>
  <em *ngIf="title?.errors?.required && title?.touched" class="float-end" >Required</em>
  <input formControlName="title" class="form-control mt-1 shadow-none rounded-0" id="board-title" type="text">
  <em *ngIf="description?.errors?.required && description?.touched" class="float-end">Required</em>
  <label for="board-description">Board Description</label>
  <textarea formControlName="description" class="form-control mt-1 shadow-none rounded-0" id="board-description"></textarea>
  <button [disabled]="canSubmitBoardForm(boardForm)" type="submit" class="mt-2 form-btn">Add New Board</button>
</form>
