<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!-- TEST DATA -->
      <!-- TODO Remove test data -->
        <div *ngFor="let invitedBoard of invitedBoards" class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{invitedBoard.board.title}}</h5>
            <p class="card-text">{{invitedBoard.board.description}}</p>
          </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
